:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
  --card-color: #242E40;
}

/*body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}*/


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.card-header{
  width: 100%;
  background-color: var(--card-color) !important;
}

.card-footer{
  background-color: var(--card-color) !important;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: 3.4rem;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  cursor: pointer;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--card-color) !important;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}
/*
.card .card-body .form-signin .form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
*/
.form-label-group input:focus~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 10px;
}

.form-label-group .inputfocus~label {
  padding-top: calc(var(--input-padding-y) / 3) !important;
  padding-bottom: calc(var(--input-padding-y) / 3) !important;
  font-size: 10px !important;
}

/*.card .card-body .form-signin .form-label-group input:focus{
  font-size: 14px;
}*/


.btn-primary{
  background-color: var(--card-color) !important;
  box-shadow: none !important;
  border: var(--card-color) !important;
}
.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.custom-control-input{
  cursor: pointer !important;
}
.img-circle{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.postsStyle{
  background-color: #F4F7FA;
  border: 1px solid #CEE7FF;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.myForm{
  background-color: #F4F7FA;
  border: 1px solid #CEE7FF;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.categories{
  background-color: #79FC99;
  border: 1px solid #CEE7FF;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-control:focus {
  border-color: var(--card-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(36, 46, 64, 0.25) !important;
}