{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Aquahackermaks</title>
	
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/ionicons.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
	<!--Morris Chart-->
	<link href="{% static 'assets/js/index1/morris-chart/morris.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/weather-icons.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<!-- header -->
		<header class="main-header">
			<div class="container_header">
				<div class="right_detail float-right mr-5 p-3">
					<a href="{% url 'logout' %}" class="text-light pt-3"><i class="icon-logout pt-1"></i> <span class="ml-2">Çıxış</span> </a>
				</div>
			</div>

		</header>
		<!-- header_End -->
		<!-- Content_right -->
		<div class="container_full pl-5 pr-5">
			
			<!-- breadcrumb -->
			<div class="page-heading pl-5 pr-5">
				<div class="row d-flex align-items-center">
					<div class="col-md-6">
						<div class="page-breadcrumb pt-3 pb-3">
							<h1>{{ user.full_name }}</h1>
						</div>
					</div>
					<div class="col-md-6 justify-content-md-end d-md-flex">
						<div class="page-breadcrumb pt-3 pb-3">
							<h1>Abonent kodu: {{ counter.imei }}</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- breadcrumb_End -->

			<!-- Section -->
			<section class="chart_section pl-5 pr-5">

				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-4">
						<div class="card border-left-sm">
							<div class="card-body">
								<div class="row">

									<div class="col-12 d-flex">
										<div class="ml-2 mr-2">
										<h5 class="mb-2">Göstərici</h5>
										<h6 class="mt-0 mb-0 f30 text_light_blue">{% if indicator %}{{ indicator }} m<sup>3</sup>{% else %}-{% endif %}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-4">
						<div class="card border-left-sm border_yellow">
							<div class="card-body ">
								<div class="row">
									<div class="col-12 d-flex">
										<div class="ml-2 mr-2">
										<h5 class="mb-2">Bu ayin sərfiyyatı</h5>
										<h6 class="mt-0 mb-0 f30 text-warning">{% if this_month %}{{ this_month }} m<sup>3</sup>{% else %}-{% endif %}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-4">
						<div class="card border-left-sm border_primary">
							<div class="card-body ">
								<div class="row">

									<div class="col-12 d-flex">
										<div class="ml-2 mr-2">
										<h5 class="mb-2">Bugün sərfiyyatı</h5>
										<h6 class="mt-0 mb-0 f30 text-primary">{% if today %}{{ today }} m<sup>3</sup>{% else %}-{% endif %}</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-4">
						<div class="card border-left-sm border_secondary">
							<div class="card-body">
								<div class="row">

									<div class="col-12 d-flex">
										<div class="ml-2 mr-2">
										<h5 class="mb-2">Borc</h5>
										<h6 class="mt-0 mb-0 f30 text-secondary">{% if usage %}{{ usage }} AZN {% else %}-{% endif %}</h6>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				{% if weekly_report %}
				<div class="col-xl-8 col-sm-8 ml-auto mr-auto mt-5 pb-5">
					<div class="card card-shadow">
						<div class="card-header">
							<div class="card-title">
								Sərfiyyat
							</div>
						</div>
						<div class="card-body">
							<div id="bar-chart"></div>
						</div>
					</div>
				</div>
				{% endif %}

			</section>
		</div>
		<!-- Content_right_End -->
		<!-- Footer -->
		<footer class="footer ptb-20">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="copy_right">
						<p>
							2020 © Aquahackermaks
						</p>
					</div>
					<a id="back-to-top" href="#"> <i class="ion-android-arrow-up"></i> </a>
				</div>
			</div>
		</footer>
		<!-- Footer_End -->
	</div>
	<script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<!--Morris Chart-->
	<script src="{% static 'assets/js/index1/morris-chart/morris.js' %}"></script>
	<script src="{% static 'assets/js/index1/morris-chart/raphael-min.js' %}"></script>
	<!--morris chart initialization-->
	<!--vectormap-->
	<script src="{% static 'assets/js/index1/jquery-jvectormap-1.2.2.min.js' %}"></script>
	<script src="{% static 'assets/js/index1/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'assets/js/index1/vmap-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
	<script src="{% static 'assets/js/custom.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
	{% if weekly_report %}
		Morris.Bar({
		    element: 'bar-chart',
		    data: [
		    	{% for r in weekly_report %}
		        {x: '{{ r.created_at | date:"Y.m.d"}}', y: {{ r.indicator_usage }}, z: {{ r.limit }} },
		      {% endfor %}
		    ],
		    xkey: 'x',
		    ykeys: ['y', 'z'],
		    labels: ['Sərfiyyat', 'Limit'],
		    gridLineColor: '#e5ebf8',
		    barColors:['#36a2f5', '#F54830'],
		    barSizeRatio: 1/7,
		});
	{% endif %}
	</script>

</body>

</html>
