{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">-->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<title>{% block pagetitle %}{% endblock %}</title>
	{% block extra_css %}

	{% endblock %}
</head>
<body>
	{% block navbar %}
        
	{% endblock %}
	{% block left_nav %}

	{% endblock %}
	{% block body %}

	{% endblock %}
	<script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	{% block myscript %}

	{% endblock %}
	<script type="text/javascript">
	    function deleteAlert(){
            let message = document.querySelector(".alert");
            if (message !== null){
                setTimeout(function(){
                    message.parentNode.removeChild(message);
                }, 4000);
            }   
        }
        deleteAlert();
	</script>
</body>