
{% extends "layout.html" %}
{% load static %}
{% block pagetitle %}
    Test Interfeysə Daxil olun
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center">
                    <h3 class="text-light pt-1">AQUAHACKERMAKS</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Interfeysə Giriş</h5>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "info" %}
                            <div class="alert alert-danger">{{ message }}</div>
                            {% else %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <form class="form-signin" action="{% url 'login' %}" method="post">{% csrf_token %}
                        <div class="form-label-group">
                            {{form.username}}
                            <label for="username">İsdifadəçi adı</label>
                        </div>
                        <div class="form-label-group">
                            {{form.password}}
                            <label for="password">Parol</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                        <hr class="my-4">
                    </form>
                </div>
                <div class="card-footer">
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block myscript %}
<script type="text/javascript">
    $(document).ready(function(){
        document.querySelectorAll(".form-label-group input").forEach(function(input){
            if(input.value){
                input.classList.add("inputfocus");
            }
        });
        $(".form-label-group input").blur(function(){
            if($(this).val()){
                $(this).addClass("inputfocus");
            }else{
                $(this).removeClass("inputfocus");
            }
        });
    });
</script>
{% endblock %}
