{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aquahackermaks</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/ionicons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

    <!--bs4 data table-->
    <link href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    <style type="text/css">
      .dataTables_filter{
        display: none !important;
      }
      .dataTables_length{
        display: none !important;
      }
      .dataTables_info{
        display: none !important;
      }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- header -->
			<header class="main-header">
				<div class="container_header">
					<div class="right_detail float-right mr-5 p-3">
						<a href="{% url 'logout' %}" class="text-light pt-3"><i class="icon-logout pt-1"></i> <span class="ml-2">Çıxış</span> </a>
					</div>
				</div>
			
			</header>
			<!-- header_End -->
        <!-- Content_right -->
				 
                <!--main contents start-->
          <main class="container_full pl-5 pr-5">
              <!--page title start-->
              <div class="page-heading">
                  <div class="container-fluid">
                      <div class="row d-flex align-items-center">
                          <div class="col-md-6">
                              <div class="page-breadcrumb">
                                  <h1>İsdifadəçilər</h1>
                              </div>
                          </div>
                          <div class="col-md-6 justify-content-md-end d-flex">
                              <div class="breadcrumb_nav">
                                  <ol class="breadcrumb">
                                      <li>
                                          <i class="fa fa-home"></i>
                                          <a class="parent-item" href="{% url 'dashboard_index'%}">Əsas Səhifə</a>
                                          <i class="fa fa-angle-right"></i>
                                      </li>
                                      <li class="active">
                                          İsdifadəçilər
                                      </li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!--page title end-->
              <div class="container-fluid">
                  <!-- state start-->
                  <div class="row">
                      <div class=" col-sm-12">
                          <div class="card card-shadow mb-4">
                              <div class="card-header">
                                  <div class="card-title">
                                      İsdifadəçilər
                                  </div>
                              </div>
                              <div class="card-body">
                                  <table id="bs4-table" class="table table-bordered table-striped" cellspacing="0" width="100%">
                                      <thead>
                                          <tr>
                                              <th>İsdifadəçi adı</th>
                                              <th>Ad</th>
                                              <th>Soyad</th>
                                              <th>Abonent kodu</th>
                                              <th>Sərfiyyat</th>
                                              <th>Borc</th>
                                              <th>Aç/Bağla</th>
                                          </tr>
                                      </thead>
                                      <tfoot>
                                          <tr>
                                              <th>İsdifadəçi adı</th>
                                              <th>Ad</th>
                                              <th>Soyad</th>
                                              <th>Abonent kodu</th>
                                              <th>Sərfiyyat</th>
                                              <th>Borc</th>
                                              <th>Aç/Bağla</th>
                                          </tr>
                                      </tfoot>
                                      <tbody>
                                        {% for d in data %}
                                          <tr>
                                              <td>{{ d.username }}</td>
                                              <td>{{ d.first_name }}</td>
                                              <td>{{ d.last_name }}</td>
                                              <td>{{ d.counter }}</td>
                                              <td>{{ d.indicator }} m<sup>3</sup></td>
                                              <td>{{ d.usage }} AZN</td>
                                              <td>
                                                <form action="{% url 'dashboard_index' %}" method="POST">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="id" value={{d.id}}>
                                                {% if d.close %}
                                                <button class="btn btn-sm btn-success" type="submit" name="close" value="1">Aç</button>
                                                {% else%}
                                                <button class="btn btn-sm btn-danger" type="submit" name="close" value="0">Bağla</button>
                                                {% endif %}
                                              </td>
                                          </tr>
                                        {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- state end-->
              </div>

          </main>
          <!--main contents end-->
     	 
        
        <!-- Content_right_End -->
        <!-- Footer -->
        <footer class="footer ptb-20">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copy_right">
						<p>
								2018 © Aquahackermaks
								
							</p>
					</div>
                    <a id="back-to-top" href="#">
                        <i class="ion-android-arrow-up"></i>
                    </a>
                </div>
            </div>
        </footer>
        <!-- Footer_End -->
    </div>
    <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!--datatables-->
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#bs4-table').DataTable();
        });
        function deleteAlert(){
            let message = document.querySelector(".alert");
            if (message !== null){
                setTimeout(function(){
                    message.parentNode.removeChild(message);
                }, 4000);
            }   
        }
        deleteAlert();
    </script>
</body>

</html>